altgraph==0.17.4
contourpy==1.2.1
cycler==0.12.1
et-xmlfile==1.1.0
fonttools==4.53.1
injector==0.22.0
kiwisolver==1.4.5
matplotlib==3.9.1
numpy==2.0.0
opencv-python==4.10.0.84
openpyxl==3.1.5
packaging==24.1
pandas==2.2.2
pefile==2023.2.7
pillow==10.4.0
platformdirs==4.2.2
pyparsing==3.1.2
pyqtgraph==0.13.7
pyqtribbon==0.7.4
PySide6==6.7.2
PySide6_Addons==6.7.2
PySide6_Essentials==6.7.2
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32-ctypes==0.2.2
PyYAML==6.0.2
QtPy==2.4.1
shiboken6==6.7.2
six==1.16.0
tzdata==2024.1
